.cq-page{
  width: 100%;
  color: #333;
  font-family: 'PingFang-SC';
  .header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
    background-color: #0061c1;
    overflow: hidden;
    .logo{
      margin-left:40px;
      .__img{
        max-width: 100%;
        height: 140px; 
      }
      }
    .menu-btn{
      position: absolute;
      right: 40px;
      top: 50%;
      width: 48px;
      height: 44px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .__img{
        width: 100%;
        height: 100%;
      }  
    }
  }
  .r-side{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 400px;
    height: 100vh;
    padding:0 80px;
    box-sizing: border-box;
    transition: all .5s ease;
    transform: translateX(400px);
    background-color: #013364;
    .logo{
      width: 100%;
      height: 200px;
      overflow: hidden;
      img{
        width: 170%;
        height: 100%;
      }
    }
    .main-emun{
      .main-emun-wrap{
        .__list{
          width: 100%;
          height: 100px;
          line-height: 100px;
          color: #fff;
          font-size: 32px;
          .__icon{
            display: inline-block;
            width: 44px;
            height: 44px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .banner{
    margin-top: 120px;
    width: 100%;
    height: 480px;
    background-color: red;
  }
  .nav{
    width: 100%;
    height:100px;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #eee;
    &::-webkit-scrollbar {
      display: none;
    }
    .nav-wrap{
      .__nav-item{
        display: inline-block;
        width: 200px;
        height: 100px;
        line-height: 100px;
        font-size: 32px;
        text-align: center;
      }
      .active-nav{
        color: #fff;
        background-color: #2eb7de;
      }
    }
  }
  .news-content{
    white-space: nowrap;
    transition: all .3s ease;
    .news-wrap{
      box-sizing: border-box;
      padding: 0 20px;
      width: 100%;
      display: inline-block;
      .news-list{
        margin-top: 20px;
        width: 100%;
        height: 140px;
        .__lf{
          float: left;
          width: 30%;
          height: 100%;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .__rt{
          float: left;
          width: 70%;
          height: 100%;
          padding-left: 30px;
          box-sizing: border-box;
          .title{
            display: block;
            height: auto;
            white-space:normal;
            word-break:break-all;
            font-size: 32px;
            line-height: 40px;
          }
          .time{
            width: 100%;
            font-size: 28px;
            margin-top: 20px;
            color: #666;
          }
        }
      }
    }
  }
  .swiper{
    transform: translateX(-100%);
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 140px;
    background-color: #0061c1;
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    .id{
      line-height: normal;
    }
  }
}